* {
    box-sizing: border-box;
  }
  
  @font-face {
      font-family: 'gardenGnostic';
      src: url('../fonts/Gardengnostic-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
    font-family: 'DkCrayonCrumble';
    src: url('../fonts/DkCrayonCrumble-ddll.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "IMFell"; 
	src: url('dump/IM_Fell_Great_Primer/IMFellGreatPrimer-Regular.ttf') format('truetype');
  }
  h1, h2, h3, h4, h5  {
    font-family: 'IMFell';
  }

  i {
    font-size: 13px;
  }

  p, a, details, li  {
    font-family: 'IMFell';
    font-size: 20px;
    margin: 10px;
  }
  
  span {
    font-family: 'IMFell';
    background-color:dodgerblue;
    padding: 10px 3px 3px 3px;
    color: white;
  }

  .spoiler {
    color: #e3c100;
    background-color: #e3c100;
    transition: 0.3s;
    padding: 2px;
  }

  .spoiler:hover {
    background-color: transparent;
    color: black;
    transition: 0.3s;
  }

  ul {
    margin: 5px;
  }
  
 a {
    color: dodgerblue;
    text-decoration: none;
  }
  
 a:hover {
    background-color: yellow;
    text-decoration: none;
  }

::-moz-selection { /* Code for Firefox */
  background: yellow;
  color: black;
}

::selection {
  background: yellow;
  color: black;
} 

  summary {
    display: inline;
  }

  details > summary {
    cursor: pointer;
    list-style-type: 'none';
    padding: 2px;
}

  details[open] > summary {
      cursor: pointer;
      list-style-type: 'none';
      background-color: yellow;
  }

  details > summary:hover {
    background-color: yellow;
  }

  hr {
    border: 1px dashed gray;
  }

  body {
    background-image: url("/img/greenapple.png"); 
    background-attachment: scroll;
    margin: 0px;
    background-color: #e3ed58;
  }
  
  .header {
    background-image: url("/img/paper13.png");
    background-size: 50%;
    background-position: scroll;
    width: 100%;
    background-color: #fffcf7;
    padding: 30px;
    text-align: center;
  }

  .headerwrapper {
    margin: auto;
    position: relative;
    width: 600px;
  }

  .sticker {
    position: absolute;
    height: 100px;
    z-index: 1;
  }

  .yellow {
    background-image: url("images/dithered_jwst.png"); 
    background-repeat: repeat-x;
    width: 100%;
    height: 30px;
    margin-top: -18px;
  }

  .wrapper {
    background-image: url("images/animatedpaper.gif");
    background-size: 100%;
    background-position: scroll;
    max-width: 800px;
    margin: 30px auto 30px auto;
    border: 4px solid;
    border-color: #e1031d orangered orange orangered;
    padding: 20px;
    position: relative;
  }

  .top {
    text-align: center;
  }

  .year {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
    margin-left: -100px;
    z-index: -1;
    margin-bottom: -30px;
  }

  .chart {
    display: flex;
  }

  .date, .topdate {
    width: 7%;
    justify-content: center;
  }

  .title, .author, .rating, .date  {
    border: 2px gray;
    border-style: dashed none none solid;
    align-items: center;
    display: flex;
  }

  .title, .toptitle {
    width: 26%;
  }

  .author, .topauthor {
    width: 27%;
  }

  .toprating {
    width: 5%;
    margin-left: -5px;
  }

  #topchart {
    margin-bottom: -20px;
    text-align: center;
  }

  .rating {
    width: 5%;
    justify-content: center;
  }

  .review, .topreview {
    width: 35%;
  }

  .review {
    border-style: dashed solid none solid;
    border-color: gray;
    border-width: 2px;
    align-items: center;
    display: flex;
  }

  #lastrow {
    border-bottom: 2px dashed gray;
  }